<div class="jumbotron text-center my-5 p-3 bg-warning w-50 m-auto">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">
    This is a todo list app that I made while learning Angular for the first
    time. I made this by coding along with Code With Harry in his Angular in one
    video.
  </p>
  <hr class="my-4" />
  <p class="fs-3">I learnt the following concepts while making this app.</p>
  <ul>
    <li>Seting Routes</li>
    <li>Generating Components</li>
    <li>Event Handling</li>
    <li>Angular Routing</li>
    <li>Deploying for Production Build</li>
    <li>ngFor, ngIf, ngSubmit, ngModel directives</li>
    <li>Installing Bootstrap and Using it</li>
    <li>Saving data in local storage</li>
  </ul>

  <a
    class="btn btn-primary btn-lg"
    href="https://youtu.be/0LhBvp8qpro"
    role="button"
    target="__blank"
    >Watch Video</a
  >
</div>
